#numpy==1.17.2
#matplotlib==2.0.2

attrs==21.2.0
iniconfig==1.1.1
packaging==21.3
pkg_resources==0.0.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
RPi.GPIO==0.7.0
spidev==3.5
teamcity-messages==1.29
toml==0.10.2

